<li class="nav-dropdown-container resources">
  <a href="#" class="nav-link">Resources</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/resources/partners.html") %>" class="nav-link">Partenaires</a></li>
    <li><a href="<%- url_for("/resources/themes.html") %>" class="nav-link">Thèmes</a></li>
    <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank">Awesome Vue (EN)</a></li>
  </ul>
</li>
